<?xml version="1.0"?>
<config>
    <modules>
        <SHAPP_Captureemailcheckout>
            <version>1.0</version>
        </SHAPP_Captureemailcheckout>
    </modules>
    <frontend>
        <routers>
            <captureemailcheckout>
                <use>standard</use>
                  <args>
                    <module>SHAPP_Captureemailcheckout</module>
                    <frontName>shapp_captureemailcheckout</frontName>
                </args>
            </captureemailcheckout>
        </routers>
    <layout>
     <updates>
       <captureemailcheckout>
         <file>SHAPP/captureemailcheckout.xml</file>
       </captureemailcheckout>
     </updates>
   </layout>
    </frontend>
</config>